* {
    margin:0;
    padding:0;
}
body.body{
    background-color: darkgray;
}
div.contenedorprincipal{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    border-radius: 25px;
    padding: 5% 5% 5% 5%;
}