{% extends 'app/base.html' %}

{% load static %}
{% load humanize %}

{% block js %}

{% endblock %}

{% block css %}

{% endblock %}

{% block contenido %}
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et elit imperdiet, ultricies mi eget, tempus nibh. Vestibulum pellentesque leo id consectetur porttitor. Maecenas a ante quis odio consectetur gravida. Maecenas eu placerat lacus, nec aliquam mi. Cras et sapien accumsan, dictum lorem eget, efficitur felis. Cras lobortis ipsum ut justo tempor mollis. Maecenas imperdiet quam eget cursus ultricies. Aenean ultricies elit ipsum, quis malesuada lorem feugiat ac. Sed nisi nunc, porttitor quis nibh et, posuere dapibus nulla. Proin eget erat vel sapien faucibus volutpat. Integer maximus consequat quam efficitur consectetur. Vestibulum blandit neque sit amet tincidunt tempor.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et elit imperdiet, ultricies mi eget, tempus nibh. Vestibulum pellentesque leo id consectetur porttitor. Maecenas a ante quis odio consectetur gravida. Maecenas eu placerat lacus, nec aliquam mi. Cras et sapien accumsan, dictum lorem eget, efficitur felis. Cras lobortis ipsum ut justo tempor mollis. Maecenas imperdiet quam eget cursus ultricies. Aenean ultricies elit ipsum, quis malesuada lorem feugiat ac. Sed nisi nunc, porttitor quis nibh et, posuere dapibus nulla. Proin eget erat vel sapien faucibus volutpat. Integer maximus consequat quam efficitur consectetur. Vestibulum blandit neque sit amet tincidunt tempor.
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et elit imperdiet, ultricies mi eget, tempus nibh. Vestibulum pellentesque leo id consectetur porttitor. Maecenas a ante quis odio consectetur gravida. Maecenas eu placerat lacus, nec aliquam mi. Cras et sapien accumsan, dictum lorem eget, efficitur felis. Cras lobortis ipsum ut justo tempor mollis. Maecenas imperdiet quam eget cursus ultricies. Aenean ultricies elit ipsum, quis malesuada lorem feugiat ac. Sed nisi nunc, porttitor quis nibh et, posuere dapibus nulla. Proin eget erat vel sapien faucibus volutpat. Integer maximus consequat quam efficitur consectetur. Vestibulum blandit neque sit amet tincidunt tempor.
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et elit imperdiet, ultricies mi eget, tempus nibh. Vestibulum pellentesque leo id consectetur porttitor. Maecenas a ante quis odio consectetur gravida. Maecenas eu placerat lacus, nec aliquam mi. Cras et sapien accumsan, dictum lorem eget, efficitur felis. Cras lobortis ipsum ut justo tempor mollis. Maecenas imperdiet quam eget cursus ultricies. Aenean ultricies elit ipsum, quis malesuada lorem feugiat ac. Sed nisi nunc, porttitor quis nibh et, posuere dapibus nulla. Proin eget erat vel sapien faucibus volutpat. Integer maximus consequat quam efficitur consectetur. Vestibulum blandit neque sit amet tincidunt tempor.
</p>
{% endblock %}