{% extends 'app/base.html' %}

{% load static %}
{% load humanize %}

{% block js %}

{% endblock %}

{% block css %}

{% endblock %}

{% block contenido %}
<div class="partejumbo">
    <div class="jumbotron">
         <h1 class="titulo">Buenas Noticias!</h1>
         <p class="lead">Ya se ha podido implementar el sistema de pago WebPay en nuestro sitio web!.</p>
         <hr class="my-4">
         <p class="medio">Éste sistema les permitirá realizar sus pagos vía débito y transferencia bancaria.</p>
         <p class="lead"> <a class="btn btn-lg" href="#" role="button">Leer Más</a> </p>
       </div>
   </div>
<h1>hola</h1>
{% endblock %}